services:
  notebook:
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    volumes:
      - .:/mad_fundamentos
    stdin_open: true # docker run -i
    tty: true # docker run -t
